- @page_title = 'Swipe - Consumer Loyalty Offers & Rewards'

.content.container-fluid
  %ul.breadcrumb.plain{:style => "margin-bottom: 15px;"}
    %li.active My Dashboard
  .row-fluid
    .span4.clearfix{:style => "position: relative;"}
      #pie{:style => "width: 200px; height: 200px; margin-top: 10px;"}
      #legend-wrap
        %h4 Savings Overview
        #legend
    .span8
      .campaign-info
        %h2 Start saving now!
        %p.lead.mt5.pull-left
          Using your dashboard you can easily apply
          %strong discounts
          or
          %strong earn rewards
          on your daily transactions.
    %hr
      .tabbable
        / Only required for left/right tabs
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#campaigns"} Transactions
          %li
            %a{"data-toggle" => "tab", :href => "#live"} Pending
          %li
            %a{"data-toggle" => "tab", :href => "#inactive"} Offers
        .tab-content
          #campaigns.tab-pane.active
            .clearfix
            %section#gridCustomization{:style => "margin-top: 10px;"}
              %table#grid
          #live.tab-pane
            %p.center You do not currently have any pending transactions.
          #inactive.tab-pane
            %p.center There are currently no available offers.
      #deleteModal.modal.hide
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h3 Delete Campaign
        .modal-body
          %p
            Are you sure you want to remove the campaign "
            %b> New Apple
            "?
        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel
          %a.btn.btn-primary{:href => "#"} Yes, continue
      #new.modal.hide
        .modal-header
          %button.close{"data-dismiss" => "modal", :type => "button"} ×
          %h3 Available Rewards & Offers
        .modal-body{:style => 'padding: 0;'}
          %ul.offers-list
            %li.clearfix
              .pull-left
                %h4
                  Banana Republic
                %p
                  Save 50% off your next purchase of $50 or more!
              .pull-right
                .btn.btn-success
                  Use Offer
            %li.clearfix
              .pull-left
                %h4
                  The Gap
                %p
                  Apply 10% off to this purchase
              .pull-right
                .btn.btn-success
                  Use Offer
        .modal-footer
          %a.btn{"data-dismiss" => "modal", :href => "#"} Cancel

- content_for :page_scripts do
  = javascript_include_tag('charting/jquery.flot.js')
  = javascript_include_tag('charting/jquery.flot.pie.js')
  = javascript_include_tag('charting/jquery.flot.time.js')
  = javascript_include_tag('charting/visualize.js')
  = javascript_include_tag('pages/dashboard.js')
