- content_for :page_head do
  %meta{:content => 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no', :name => 'viewport'}

#new.modal{:style => 'position: absolute; left: 0; top: 0; right: 0; bottom: 0; margin: 10px; width: auto;'}
  .modal-header
    - if @error.present?
      %h3
        = "Error: #{@error}"
    - elsif @time_to_expiry < 0
      %h3
        = "Sorry the link has expired"
    - else
      /%button.close{"data-dismiss" => "modal", :type => "button"} ×
      %h3{ :style => 'width: 50%;'}
        Available Rewards
        .lead{:style => 'font-size: 14px; height: 18px; position: absolute; right: 15px; top: 8px;'}
          Expires in #{Time.at(@time_to_expiry).gmtime.strftime("%R:%S")}
    .modal-body{:style => 'padding: 0;'}
      - @all_offers.each do |offer|
        %ul.offers-list
          %li.clearfix
            .pull-left
              .brand-icon
                %img{ src: offer.url }
            .pull-left{:style => 'width: 50%;'}
              %h4
                = "#{offer.name}"
              %p
                = "#{offer.description}"
            .pull-right
              .btn.btn-success.redeem-btn
                Redeem

#completed.modal.hide{ :style => 'width: 300px; left: 63%;'}
  .modal-body{:style => 'text-align: center;'}
    .success-icon
      %img{ src: 'assets/success.png'}
    %p.lead
      You've successful redeemed the offer!
  .modal-footer{:style => 'text-align: center;'}
    %a#completed_offer.btn{"data-dismiss" => 'modal', :href => '#'}
      OK

:javascript
  $(function(){

    if(navigator.userAgent.indexOf('iOS') !== -1){
      $('.modal').css({
        position: 'absolute',
        left: 0,
        top: 0,
        right: 0,
        bottom: 0,
        margin: '10px',
        width: 'auto'
      });
    }

    $('.redeem-btn').on('click', function(){
      $('#new').modal('hide');
      $('#completed').modal('show');
    });
  });
