!!!

%html
  %head
    %title= (@page_title.blank? ? 'Swipe' : "#{@page_title} - Swipe")
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head
  %body{ :class => 'thatch'}
    %p.notice= @notice
    %p.alert= @alert
    = yield

    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
