!!!

%html
  %head
    %title= (@page_title.blank? ? 'Swipe' : "#{@page_title} - Swipe")
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %style{ :type => 'text/css' }
      = yield :page_styles
    = yield :page_head
  %body{ :class => 'thatch'}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "./index.html"}
            %img.logo{:alt => "logo", :src => "data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="}/
          -  if user_signed_in?
            .nav-collapse
              %ul.nav
                %li
                  %a{:href => "index.html"} Dashboard
                %li
                  %a{:href => "index.html"} Payment History
              %ul.nav.pull-right
                %li.dropdown
                  %a.dropdown-toggle.no-hover{"data-toggle" => "dropdown", :href => "#"}
                    You are logged in as
                    %span.white Kieran Boyle
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} My Account
                    %li.divider
                    %li
                      %a{:href => "/users/sign_out"} Sign Out
    = yield

    = yield :page_scripts

    %script{ :type => 'text/javascript', :charset => 'utf-8' }
      = yield :page_javascript
